.cardset{
    width:25%;
    float:left;
    text-align:center;
    padding: 30px 80px;
}

.setimg{
    height:271px;
    border-radius:50px !important;
    height:100px;
    width: 100px;
    margin:0 auto !important
}
.ant-card{
    margin:0 auto !important;
    padding: 5px;
    border-radius: 15px;
    overflow-y:scroll !important;
}
